/*
  === common ===
*/

/* page */

.page_block {
  background-color: var(--color-primary2);
  padding: 100px 30px;
  .container {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
  }
  .page-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    h2 {
      &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #0B50FF;
        margin-right: 6px;
      }
    }
  }
}

/* 卡片 */

.card {
  background-color: #fff;
  box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 25px 0px;
}


/*
 === Resume ===
*/

.resume-section {
  .resume-section__header {
    h3 {
      font-size: 25px;
    }
  }
}

