
:root{
    --color-white: #FFFFFF;
    --color-blue: #2894FF;
    --color-blue2: 	#4A4AFF;
    --color-primary: rgb(244,236,230);
    --color-primary2: rgb(230,218,206);
    --color-black: #000000;
}
*{
    outline: 1px solid red;
    position: relative;
    box-sizing: border-box;
}
body{
    font-size: 17px;
}
a{
    text-decoration: none;
    color: var(--color-black);
}
i{
    cursor: pointer;
}
.announcement{
    background-color: var(--color-white);
    box-shadow: 0 2px 18px 0 rgba(129,162,182,.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 999;
}
.announcement img{
    cursor: pointer;
}
.logo{
    width: 60px;
}
.pc_phone_div{
    display: flex;
}
.pc_phone_div hr{
    margin: 0 20px;
}
.pc_img{
    width: 30px;
}
.phone_img{
    width: 20px;
}
.edit_web{
    display: flex;
    align-items: center;
}
.edit_web p,
.edit_web a{
    margin: 0 20px;
}
.edit_web_btn{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--color-blue);
    color: var(--color-white);
}
.edit_web_btn:hover{
    opacity: 0.8;
}

header{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
header h1{
    display: flex;
    align-items: center;
}
.blue_square{
    width: 15px;
    height: 15px;
    background-color: var(--color-blue2);
    display: block;    
    margin: auto 10px auto 0;
}
header h1 a{
    margin: 0 10px;
}
.header_name{
    font-size: 25px;
}
header nav a{
    margin: 0 10px;
}
header nav a:hover{
    color: var(--color-blue);
}
.fa-bars{
    display: none;
    font-size: 30px;
}

/* =========== 關於我 =========== */
.about_me_block{
    display: flex;
    min-height: 80vh;
    justify-content: center;
}
.about_me_block::before{
    content: "";
    background-color: var(--color-primary2);
    width: 700px;
    height: 100%;
    position: absolute;
    left: 0;
}

.about_me_name,
.about_me_content{
    margin: auto 0;
    max-height: 500px;
    height: 100%;
}
.about_me_name{
    background-color: var(--color-primary);
    box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23),0 1px 4px rgba(0,0,0,.6);
    max-width: 350px;
    width: 100%;
    padding: 50px 0;
}
.about_me_name img{
    border-radius: 100%;
}
.about_me_name h1,
.about_me_name h2{
    text-align: center;
}
.about_me_name h1{
    word-wrap:break-word;
    width: 100px;
    font-size: 25px;
    margin: 30px auto;
}
.about_me_name h2{
    font-size: 20px;
    margin: 30px auto;
}
.about_me_name img{
    display: block;
    margin: 0 auto;
}
.about_me_name ul{
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}
.about_me_name ul li{
    margin: 0 10px;
}
.about_me_name i{
    font-size: 20px;
}

.about_me_content{
    max-width: 450px;
    width: 100%;
    padding: 50px 30px;
}
.about_me_content h1{
    font-size: 80px;
}
.about_me_content h2{
    font-size: 25px;
    margin: 30px auto;
}
.about_me_content div{
    display: flex;
    margin-bottom: 50px;
}
.about_me_content a{
    font-size: 14px;
    padding: 10px 35px;
    border-radius: 50px;
    border: var(--color-blue) solid 2px;
    margin-right: 20px;
}
.about_me_content_RESUME_btn{
    background-color: var(--color-blue);
    color: var(--color-white);
}
.about_me_content_RESUME_btn:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}
.about_me_content_PROJECTS_btn{
    background-color: var(--color-white);
}
.about_me_content_PROJECTS_btn:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}
.about_me_content p{
    line-height: 1.5;
    margin-top: 30px;
}

/* =========== 簡歷 =========== */
.resume_block{
    width: 100%;
    background-color: var(--color-primary2);
    padding: 100px 30px;
}
.center_block{
    justify-content: center;
}
.center_block h1{
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
}
.resume_block .center_block,
.Experience_block,
.Education_block
{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}
.Experience_block{
    justify-content: space-between;
}
.Experience_block h2,
.Education_block h2,
.skill_Language_card h2{
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
}
.Experience_block a{
    background-color: var(--color-blue2);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    margin: auto 30px auto 0;
}
.Experience_card,
.Education_card{
    display: flex;
    background-color: var(--color-white);
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.resume_block .card_title{
    max-width: 400px;
    width: 100%;
    padding: 100px 30px;
}
.resume_block .card_title h3,
.resume_block .card_title h4,
.resume_block .card_title h5{
    margin: 20px 0;
}

.card_contact{
    padding: 0 30px;
    margin: auto;
}
.card_contact p{
    margin: 30px 0;
    line-height: 1.5;
}
.skill_Language_card{
    background-color: var(--color-white);
    max-width: 700px;
    width: 100%;
    margin: 100px auto 0 auto;
}
.skill_Language_card .skill,
.skill_Language_card .language{
    display: flex;
    flex-wrap: wrap;
}
.skill_Language_card .skill p,
.skill_Language_card .language p{
    display: flex;
    margin: 20px;
    width: 230px;
}

/* =========== 專案 =========== */
.project_block{
    background-color: var(--color-primary2);
 
    padding: 100px 0;
}
.project_title,
.project_contact,
.project_card
{
    max-width: 700px;
    width: 100%;
}
.project_title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    margin: 0 auto;
}
.project_contact{
    text-align: center;
    padding: 20px 30px;
    margin: 0 auto;
}
.project_card{
    display: flex;
    margin: 100px auto;
    background-color: var(--color-white);
}
.project_block .card_title{
    border-left: 10px solid var(--color-blue2);
    padding: 10px 30px;
}
.project_block .card_title h1,
.project_block .card_title h2{
    margin: 10px 0;
}
.project_block .card_title h1{
    font-size: 25px;
    font-weight: bolder;
    color: var(--color-blue2);
}
.card_left{
    margin: auto 0;
}
.card_left p{
    padding: 50px 30px;
}

/* =========== 聯繫 =========== */
.contact_block{
    background-color: var(--color-primary2);
}
.talk_title{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.talk_title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
}







/* =========== footer =========== */
footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    font-size: 13px;
    background-color: var(--color-white);
}
footer div{
    margin: auto 0;
}
.footer_Ltd{
    line-height: 1.5;
}
.contact_information{
    display: flex;
    text-align: center;
}
.contact_information div{
    margin: 0 20px;
}
.contact_information h6{
    margin-bottom: 15px;
}
.contact_information ul{
    display: flex;
}
.contact_information ul i{
    margin: 0 10px;
}



/* ipad */
@media screen and (max-width: 768px) and (min-width: 376px){
    .announcement{
        display: none;
    }
    header{
        display: flex;
        margin: 0 auto;
        padding: 30px 10px;
    }
    header nav {
        display: none;
    }
    header h1 span{
        margin: 0 0 0 10px;
    }
    header h1{
        width: 100%;
    }
    header .fa-bars{
        display: block;
    }
    .about_me_block{
        display: block;
    }
    .about_me_block::before{
        width: 100%;
    }
    .about_me_name{
        margin: 0 auto;
    }
    .about_me_content{
        margin: 0 auto;
        text-align: center;
    }
    .about_me_content a{
        margin: 0 auto;
    }
    footer{
        flex-wrap: wrap;
    }
    .footer_Ltd_block{
        margin-top: 20px;
        margin-left: 20px;
        order: 2;
    }
    .contact_information{
        flex-wrap: wrap;
        text-align: left;
    }
    .contact_information div{
        padding: 10px;
    }
    .contact_information li{
        margin-left: -10px;
    }
}

/* mobile */
@media screen and (max-width: 375px) {
    .announcement{
        display: none;
    }
    header{
        margin: 0 auto;
        padding: 30px 0;
    }
    header nav {
        display: none;
    }
    header h1 span{
        margin: 0 0 0 10px;
    }
    header h1{
        width: 100%;
    }
    .header_name,
    header h1 a{
        font-size: 13px;
    }
    header .fa-bars{
        display: block;
        margin-right: 10px;
    }
    .about_me_block{
        display: block;
    }
    .about_me_block::before{
        width: 100%;
    }
    .about_me_name{
        margin: 0 auto;
    }
    .about_me_content{
        margin: 0 auto;
        text-align: left;
    }
    .about_me_content a{
        margin: 0 auto;
    }
    footer{
        flex-wrap: wrap;
    }
    .footer_Ltd_block{
        margin-top: 20px;
        margin-left: 30px;
        order: 2;
    }
    .contact_information{
        flex-wrap: wrap;
        text-align: left;
    }
    .contact_information div{
        padding: 10px;
    }
    .contact_information li{
        margin-left: -10px;
    }
}




